* {
    box-sizing: border-box;
    background-color: #071628;
}

.row {
    margin: 0;
    padding: 0;
}

.cell {
    display:inline-block;
    border: 1px dotted #ffc7c72c;
    height: 70px;
    width: 70px;
    margin: 0;
    padding-left: 5px;
    border-radius: 50%;
    background-color: #8695a7;
}
h1 {
    width:100%;
    text-align: center;
    font-style: oblique;
    font-size: 70px;
    text-decoration: underline;
    text-decoration-color: rgb(128, 128, 128);
    color: rgba(240, 248, 255, 0.899);
}

p {
    width:100%;
    text-align: center;
    color: rgba(240, 248, 255, 0.899);
    font-size: 20px;
}

main {
    display:flex;
    flex-direction: column;
    transform: rotate(90deg);
    margin: auto;
    width: 600px;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgba(240, 248, 255, 0.899);
    background-color: rgba(47, 80, 108, 0.521);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgba(153, 153, 153, 0.365);
    position: relative;
    left: 45%;
    margin-bottom: 20px;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


#game-info {
    width:100%;
    text-align: center;
    color: rgba(240, 248, 255, 0.899);
    font-size: 30px;
    padding-bottom: 40px;
}

#game-winner {
    color: aliceblue;
    font-size: 200px;
    text-align: center;
    padding-bottom: 40px;
}

/*Media*/

@keyframes slidedown {
    from{transform: translateY(-800px)}
    to{transform: translateY(0px)}
}

 .cell, .columns {
    animation-name: slidedown;
    animation-duration: 1.5s;
    }
